.page {
  position: relative;
}

a {
  transition: $transition-link;
}

.section {
  $parent: &;

  padding: 1.5rem 0;

  @include media-breakpoint-up(lg) {
    padding: 2rem 0;
  }

  &__title {
    margin: 1.5rem 0;

    &,
    + #{$parent}__lead {
      text-align: center;
    }

    &:is(h1) {
      margin-bottom: 0.625rem;
      color: $primary;
    }

    @include media-breakpoint-up(lg) {
      margin: 2rem 0;
    }
  }

  &__headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;

    #{$parent}__title {
      text-align: left;
      margin: 0;
    }

    @include media-breakpoint-up(lg) {
      margin: 2rem 0;

      #{$parent}__title {
        margin: 0;
      }
    }
  }

  &__headline-link {
    padding-left: 0;
    padding-right: 0;
  }

  &__lead {
    @extend %lead;
  }

  &__content {
    margin: 1.5rem 0;

    @include media-breakpoint-up(lg) {
      margin: 2rem 0;
    }
  }

  &__cta {
    text-align: center;
    margin: 2rem 0;
  }

  &--home {
    text-align: center;

    &#{$parent}__cta {
      margin: 0;

      @include media-breakpoint-up(lg) {
        margin-top: 2rem;
        margin-bottom: 0;
      }
    }
  }
}

.section-faq {
  .section__title {
    color: $cyan;

    &:is(h1) {
      margin-bottom: 0;
    }
  }

  &__group {
    padding-bottom: 1rem;
  }

  &__group-title {
    @extend h3;

    margin: 1.5rem 0;
    text-align: center;
    color: $cyan;
  }
}

//TODO: Make component
.divider {
  border: none;
  margin: 0;
  opacity: 1;
  height: 0.25rem;
  line-height: 0.25rem;
  background-image: linear-gradient(to right, $gray-200 70%, transparent 70%);
  background-size: 1rem 0.25rem;
  background-repeat: repeat-x;
  background-position: 0 center;
  text-align: center;

  span {
    text-transform: uppercase;
    background-color: $white;
    display: inline-block;
    padding: 0 0.5rem;
    font-size: $font-size-base-mobile;
    font-weight: bold;
    color: rgba($gray-900, 0.5);
    line-height: 1;
    margin-top: -50%;
  }
}

//Accordion alignments
.accordion-item {
  border-width: $accordion-border-width 0;

  .accordion-button {
    font-size: 1.25rem;
    gap: 1rem;

    &:hover {
      color: $link-hover-color;
    }

    &:not(.collapsed) {
      box-shadow: none;
      color: $link-color;

      &:hover {
        color: $link-color;
      }
    }
  }
  .accordion-collapse.collapsing,
  .accordion-collapse.show {
    .accordion-body {
      padding-top: 0;
    }
  }
}

//breadcrumb
.breadcrumb {
  a {
    text-decoration: none;
    color: rgba($gray-900, 0.5);

    &:hover {
      text-decoration: underline;
      color: $breadcrumb-active-color;
    }
  }
}

.alert-container {
  margin-bottom: 2rem;

  &:empty {
   margin: 0; 
  }
}

.pagination {
  .icon {
    line-height: 1;
    vertical-align: middle;
  }
}

#cookieModal {
  height: auto;
  top: auto;
  bottom: 0;

  .modal-dialog {
    display: flex;
    align-items: flex-end;
    justify-items: end;
    margin: auto ($grid-gutter-width * .5) ($grid-gutter-width * .5) auto;
    
    @include media-breakpoint-down(lg) {
      margin-left:  $grid-gutter-width * .5;
      max-width: calc(100% - $grid-gutter-width);
    }
  }
}

body.modal-cookie {
  overflow: auto !important;
}

.modal-content {
  box-shadow: $box-shadow;

  .modal-body {
    p:last-of-type {
      margin-bottom: 0;
    }
  }

  .modal-footer {
    padding-top: 0;
  }
}