.footer {
    $parent: &;
    background-color: $gray-100;
    padding: 2rem 0;

    a {
        text-decoration: none;

        &:hover {
            color: $primary;;
        } 
    }

    &__title {
        @extend h5;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__link-group {
        a {
            display: block;
            margin-bottom: .5rem;
        }
    }

    &__social-media {
        @include media-breakpoint-down(xl) {
            margin-bottom: 1rem;
        }

        #{$parent}__icons-wrap {
            display: flex;
            align-items: center;
            height: 1.5rem;
        }


        a {
            display: inline-flex;
        }

        .icon {
            font-size: 1.5rem;
            margin-right: 1rem;

            &-youtube {
                font-size: 2rem;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding:2rem 0;
        border-top: 1px solid $gray-300;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            margin-bottom: 1.25rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
        }
        
    }

    &__payment-logos {
        img {
            margin: 0 .5rem;
        }

        @include media-breakpoint-up(xl) {
            img {
                margin: 0 0 0 1rem;
            }
        }
    }
}