{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Home" %}

{% block styles %}
<!-- load specific page style -->
<link href="./home.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./home.js"></script>
{% endblock %}

{% block content %}
<div class="hero-banner">
  <div class="hero-banner__wrap container">

    <div class="hero-banner__slider js-hero-banner-slider">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <picture>
            <source media="(min-width: 992px)" srcset="@images/banner/hero/hero-banner-1.png">
            <img src="@images/banner/hero/hero-banner-1-m.png" class="" alt="..." loading="lazy">
          </picture>
          <div class="hero-banner__content">
            <div class="hero-banner__title">
              <div class="title-animation-wrap">
                <ul>
                  <li><span>The Playful Program</span></li>
                  <li><span>The Educational Program</span></li>
                  <li><span>The Playful Program</span></li>
                </ul>
              </div>
              for children’s development.
            </div>
            <div class="hero-banner__badge">0-3 years</div>
            <p class="hero-banner__description">Structured curriculum that includes age-appropriate activities, games, and resources designed to foster and enhance a child’s core skills.</p>
            <div class="hero-banner__price">£27.50 <span>/ month</span></div>
            <div class="hero-banner__cta">
              <a class="btn btn-primary" href="#">Subscribe</a>
            </div>
            <div class="hero-banner__addition">Free Cancellation</div>
          </div>
          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
        </div>
        <!-- <div class="swiper-slide">
          <a href="/">
            <picture>
              <source media="(min-width: 992px)" srcset="@images/banner/hero/hero-banner-1.png">
              <img src="@images/banner/hero/hero-banner-1-m.png" class="" alt="...">
            </picture>
          </a>
        </div> -->
      </div>
      <div class="swiper-pagination"></div>
    </div>

  </div>
</div>


{% endblock %}
