@font-face {
    font-family: 'iconfont';
    src: local(iconfont),
        url('@fonts/iconfont/iconfont.woff2') format('woff2'),
        url('@fonts/iconfont/iconfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}