.section-account {
    padding: 2.15rem 0;

    @include media-breakpoint-up(lg) {
        padding: 3.75rem 0;
    }
}

.account-menu {
    @include media-breakpoint-down(lg) {
        display: none;
        margin-bottom: 2rem;

        &.active {
            margin-bottom: 0;
            display: block;

            + .account-content {
                display: none;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        padding-right: 2rem;
    }

    &__title {
        color: $primary;
        text-align: center;
        margin-bottom: 2.15rem;

        @include media-breakpoint-up(lg) {
            display: none;
        }
    }

    &__wrap {
        @include media-breakpoint-up(lg) {
            border: 2px solid $gray-300;
            border-radius: $border-radius-lg;
            padding: 2rem;
        }
    }

    &__header {
        display: flex;
        justify-content: space-between;
        border-bottom: 2px solid $gray-300;
        padding-bottom: 1.5rem;
        margin-bottom: 1rem;
    }

    &__nav {
        a {
            display: flex;
            justify-content: space-between;
            padding: .6rem 0;
            text-decoration: none;
            font-size: $font-size-base * 1.15;
            
            @include icon(chevron-right, after);

            @include media-breakpoint-up(lg) {
                justify-content: flex-start;
                font-size: $font-size-base * 1.125;
            }

            &::after {
                @include media-breakpoint-up(lg) {
                    order: -1;
                    margin-right: 1rem;
                }
            }

            &:hover {
                color: $primary;
            }

            &.active {
                @include media-breakpoint-up(lg) {
                    font-weight: $font-weight-bold;
                    color: $gray-900;
                }
            }
        }
    }
}

.account-content {
    min-height: 30rem;

    &__header {
        position: relative;

        .account-back {
            padding: 0;
            position: absolute;
            height: 2rem;
            top: 50%;
            left: 0;
            margin-top: -1rem;
            display: flex;
            align-items: center;
            text-decoration: none;

            .icon {
                display: inline-flex;
                transform: scaleX(-1);
                font-size: 1.5rem;
                margin-right: .35rem;
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }

    &__block {
        margin: 2rem 0;
    }

    &__title {
        color: $primary;
        @extend h3;

        @include media-breakpoint-down(lg) {
            text-align: center;
            margin: 0 4rem;
        }
    }

    &__subtitle {
        @extend h4;
        margin-bottom: 1.425rem;
    }

    .btn-link {
        padding-left: 0;
        padding-right: 0;
    }
}