.checkout {
  &__content {
    padding: 1rem 0;

    @include media-breakpoint-up(lg) {
      padding: 2rem 0;
    }
  }

  &__block {
    margin: 2rem 0;
  }

  &__title {
    &:is(h1) {
      @extend h3;
    }

    text-align: center;

    .checkout--success & {
      color: $primary;
    }
  }

  &__lead {
    text-align: center;
  }

  // .btn-link {
  //     padding: 0;
  // }

  hr {
    margin: 1.25rem 0;
    border-color: $gray-300;
    opacity: 1;
  }

  &--success {
    .header__title,
    .checkout-progress {
      display: none;
    }
  }
}

.block-children {
  // display: flex;
  // flex-wrap: wrap;
  // justify-content: center;

  @include media-breakpoint-up(md) {
    // gap: 2rem;
  }

  &__item {
    // display: flex;
    // flex-direction: column;
    // flex-grow: 1;

    @include media-breakpoint-down(lg) {
      &:first-of-type .block-child {
        padding-top: 0;
        border-top: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      max-width: 41.66666667%;

      &:only-child {
        .block-child {
          padding: 0;
          border: none;
        }
      }
    }
  }

  &__item-actions {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    font-size: $font-size-base-mobile;

    .btn-link {
      padding: 0;
    }

    .btn {
      text-decoration: none;
      font-size: $font-size-base-mobile;
    }

    .btn-remove {
      margin-left: auto;
    }

    .discount-info {
      a {
        font-weight: $font-weight-bold;
      }
    }
  }

  .block-child {
    transition: border-color 0.2s ease-in-out;
    border-top: 2px dashed $gray-300;
    padding-top: 2rem;

    @include media-breakpoint-up(lg) {
      padding: 1.25rem;
      border: 2px dashed $gray-300;
      border-radius: $border-radius-lg;

      &:hover {
        border-color: rgba($gray-900, 0.5);
      }
    }
  }
}

.block-user {
  .divider {
    margin-bottom: 2rem;
  }
}

.block-submit {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include media-breakpoint-down(lg) {
    align-items: stretch;
  }

  .btn {
    min-width: 16.25rem;
    justify-content: center;

    &:nth-child(2) {
      margin-top: 1rem;
    }
  }

  .btn-back {
    display: flex;
    text-decoration: none;
    color: rgba($gray-900, 0.5);

    @include icon(chevron-right);

    &::before {
      transform: rotate(180deg);
      margin-right: 0.5rem;
    }

    &:hover {
      color: $gray-900;
    }
  }
}

.block-set {
  &__title {
    text-align: center;
    color: $primary;
    margin: 1.25rem 0;
  }

  .product-tile__info {
    text-align: center;
    padding-top: 1rem;

    .product-name {
      font-size: 1.25rem;
    }
  }
}

.block-subscription-types {
  @include media-breakpoint-up(lg) {
    gap: 0.75rem;
  }

  &__item {
    &.selected {
      .block-subscription {
        border-color: rgba($gray-900, 0.5);
        box-shadow: $box-shadow;
        border-width: 3px;
        cursor: default;
        opacity: 1;
      }
    }

    @include media-breakpoint-down(lg) {
      &:first-child {
        margin-bottom: 2rem;
      }
    }
  }
}

.block-subscription {
  $parent: &;
  transition:
    opacity 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  border-radius: $border-radius-lg;
  border: 2px solid $gray-300;
  background-color: $white;
  padding: 1.5rem 1.5rem 2rem;
  cursor: pointer;

  @include media-breakpoint-down(lg) {
    padding: 0;
    text-align: left;
    padding: 1rem 0.5rem 1rem calc(40% + 0.5rem);
  }

  &:hover {
    border-color: rgba($gray-900, 0.5);
    opacity: 1;
  }

  &__title {
    margin: 0;
  }

  &__image {
    margin: 1rem auto;

    @include media-breakpoint-down(lg) {
      position: absolute;
      left: 0;
      top: 0;
      width: 40%;
      height: 100%;
      margin: 0;
      display: flex;
      justify-content: center;

      img {
        width: 90%;
        height: 90%;
        object-fit: contain;
      }
    }
  }

  &__price {
    @extend h5;
    margin: 0.5rem 0;

    .discount-price {
      color: $primary;

      + .regular-price {
        text-decoration: line-through;
      }
    }

    .per-text {
      @extend %font-body;
      color: rgba($gray-900, 0.5);
      font-weight: $font-weight-normal;
      font-size: $font-size-base;
    }

    @include media-breakpoint-down(lg) {
      margin: 1rem 0 0.5rem;
    }
  }

  &__delivery-info {
    margin: 0.5rem 0;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: $font-weight-bold;

    @include media-breakpoint-down(lg) {
      margin: 0.25rem 0;
    }
  }

  &__benefits {
    margin: 0.5rem 0 0;
  }
}

//Subscription type unselected item opacity
.block-subscription-types__item:has(~ .selected),
.selected ~ .block-subscription-types__item {
  opacity: .7;

  &:hover {
      opacity: 1;
  }
}

.block-legal {
  text-align: center;
  font-size: $font-size-base-mobile;
  color: rgba($gray-900, 0.5);
  margin-top: 2rem;
}

.order-summary {
  padding: 1rem;
  background-color: $gray-100;
  border-radius: $border-radius-lg;
  border: 2px solid $gray-300;
  text-align: center;

  &__item {
    text-align: left;
    margin-top: 1rem;
    margin-bottom: 1rem;

    a {
      font-size: $font-size-base-mobile;
    }

    .discount {
      color: $primary;
    }

    &.coupon {
      .label {
        display: inline-block;
        padding: 0 .25rem;
        margin-left: -.25rem;
        background-color: $white;
        border: 1px dashed rgba($gray-900, .5);
        border-radius: .25rem;
      }
    }
  }

  &__item-title {
    .label {
      font-weight: $font-weight-bold;

      span {
        font-weight: $font-weight-normal;
      }
    }

    .help-text {
      font-size: $font-size-base-mobile;
    }
  }

  &__item-value {
    text-align: right;

    .total & {
      font-weight: $font-weight-bold;
    }
  }

  &__coupon-form {
    border-top: 2px solid $gray-300;
    margin: 1.5rem -1rem 0;
    padding: 1.5rem 1rem .5rem;
    text-align: left;
  }
}

.shipping-address,
.billing-address {
  .btn-link {
    padding-left: 0;
    padding-right: 0;
  }
}

.payment-type {
  $parent: &;
  transition: border-color 0.2s ease-in-out;
  margin-bottom: 1.25rem;
  border: 2px solid $gray-300;
  border-radius: $border-radius-lg;

  &__title {
    position: relative;
    padding-left: 0;
    margin: 0;

    .form-check-input {
      position: absolute;
      left: 1rem;
      margin: 0;
      top: calc(50% - .6rem);
      pointer-events: none;

      @include media-breakpoint-up(lg) {
        left: 1.25rem;
      }

      &:checked {
        background-color: $gray-900;
        border-color: $gray-900;
      }
    }

    .form-check-label {
      display: flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      padding: 0 1rem 0 3rem;
      margin: 0;
      min-height: 4rem;
      cursor: pointer;

      @include media-breakpoint-up(lg) {
        padding: 0 1.25rem 0 3rem;
      }

      span:first-of-type {
        @extend h5;

        margin: 0;
      }

      .google-pay & {
        img {
          margin-top: .25rem;
        }
      }
    }
  }

  &__content {
    display: none;
    padding: 0 1rem 1.5rem;

    @include media-breakpoint-up(lg) {
      padding: .5rem 1.25rem 1.5rem;
    }
  }

  &.selected {
    border-color: rgba($gray-900, .5);
    box-shadow: $box-shadow;

    #{$parent}__content {
      display: block;
    }
  }
}

.billing-address {
  &__title {
    @include media-breakpoint-down(lg) {
      text-align: center;
    }
  }
}

.order-success {
  border: 2px solid $gray-300;
  border-radius: $border-radius-lg;
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    padding: 1.5rem;
  }

  &__title {
    @extend h4;

    margin-bottom: 1rem;
    text-align: center;

    @include media-breakpoint-up(lg) {
      text-align: left;
    }
  }

  &__subtitle {
    @extend h6;

    margin: 1rem 0;
  }

  &__info {
    .label {
      font-size: $font-size-base-mobile;
      color: rgba($gray-900, .5);
    }
  }
}