.section-page-what {
    padding-bottom: 0;

    &__lead {
        background-color: $gray-100;
        display: flex;
        flex-direction: column;

        @include media-breakpoint-up(xl) {
            flex-direction: row;
        }
    }

    &__lead-content {
        padding: 2rem 1rem;

        @include media-breakpoint-up(xl) {
            padding: 2rem 10% 2rem 5rem;
            flex-basis: 55%;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }

    &__lead-banner {
        flex-grow: 1;
        display: flex;
        align-items: stretch;
        
        img {
            width: 100%;
            object-fit: cover;
        }

        @include media-breakpoint-up(xl) {
            order: -1;
        }
    }

    &__lead-video {
        flex-grow: 1;
        display: flex;
        align-items: center;
        
        .video-wrap {
            flex-grow: 1;
        }

        @include media-breakpoint-up(xl) {
            order: -1;
        }
    }

    .swiper-slide {
        img {
            filter: drop-shadow(0 1px 2px rgba($gray-900, 0.15));
        }
    }

    &__full-banner {
        img {
            width: 100%;
            height: auto;
            max-height: 480px;
            object-fit: cover;
        }
    }

    &__provide {
        h2 {
            text-align: center;
            margin: 1rem 0 2rem;

            @include media-breakpoint-up(lg) {
                text-align: left;
            }
        }
    }

    &__benefits {
        h3 {
            text-align: center;
            margin: 2rem 0;
            color: $cyan;

            @include media-breakpoint-up(lg) {
                margin: 3rem 0;
            }
        }

        h4 {
            color: $primary;
        }

        p + h4 {
            margin-top: 2rem;
        }
    }
}