.section-hiw {
  .section__title {
    color: $primary;
  }

  &__steps {
    @include media-breakpoint-up(xl) {
      padding-top: 2rem;
      padding-bottom: 2rem;
      // background-image: url(@images/hiw-step-arrow-up.svg), url(@images/hiw-step-arrow-down.svg);
      // background-repeat: no-repeat, no-repeat;
      // background-position: 27% bottom, 67% top;
    }
  }

  &__step {
    display: flex;
    flex-direction: column;
    align-items: center;

    .section-hiw__content {
      flex-grow: 1;
      padding-left: 1.5;
    }

    p {
      margin-bottom: 0;
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 1.5rem;

      // &:nth-child(2) {
      //   flex-direction: row-reverse;

      //   .section-hiw__content {
      //     padding-left: 0;
      //     padding-right: 2rem;
      //   }
      // }
    }

    @include media-breakpoint-down(xl) {
      margin-bottom: 2rem;
    }
  }

  &__image {
    margin-bottom: 2rem;

    img {
      width: 15rem;
      height: auto;
    }

    // @include media-breakpoint-up(lg) {
    //   img {
    //     width: 15rem;
    //   }
    // }
  }

  &__content {
    padding-left: 1.5rem;

    @include media-breakpoint-up(lg) {
      padding-left: 1rem;
    }
  }

  &__step-title {
    @extend h5;
  }
}

.section-wnw {
  .section__title {
    color: $cyan;
  }

  .section__content {
    @include media-breakpoint-up(lg) {
      margin-bottom: 0;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
  }

  &__card-image {
    img {
      max-width: 16rem;
    }
  }

  &__card-text {
    @extend h5;
  }
}

.section-books {
  .section__title {
    color: $primary;
  }

  .section__headline {
    @include media-breakpoint-down(lg) {
      justify-content: center;
    }
  }

  .section__headline-link {
    @include media-breakpoint-down(lg) {
      display: none;
    }
  }

  .section__cta {
    margin-top: 1.5rem;

    @include media-breakpoint-up(lg) {
      display: none;
    }
  }

  &__card-image {
    img {
      border: 2px solid $gray-200;
      border-radius: $border-radius-lg;
    }
  }

  &__slider {
    @include media-breakpoint-down(lg) {
      margin: 0 ($grid-gutter-width * -0.5);
      padding-left: $grid-gutter-width * 0.5;
    }
  }
}

.section-reviews {
  .section__title {
    span {
      position: relative;
      display: inline-flex;
      background-color: $gray-200;
      color: $cyan;
      padding: 0.5rem 3rem;
      border-radius: $border-radius;

      //notch
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 1rem;
        height: 1rem;
        transform-origin: center;
        transform: rotate(45deg);
        bottom: -0.5rem;
        left: 2rem;
        background-color: $gray-200;
      }
    }
  }

  &__card {
    display: flex;
    align-items: center;
    min-height: 16rem;

    figure {
      @include media-breakpoint-up(lg) {
        margin: 0 auto;
        max-width: 75%;
        cursor: default;
      }
    }

    figcaption {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: $font-weight-bold;

      &::after {
        display: block;
        content: '';
        margin: 0.5rem 0;
        height: 1.5rem;
        background-image: url("data:image/svg+xml,%3Csvg width='92' height='24' viewBox='0 0 92 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.0979 5.8541C10.6966 4.01148 13.3034 4.01148 13.9021 5.8541L14.2451 6.90983C14.5129 7.73387 15.2808 8.2918 16.1473 8.2918H17.2573C19.1948 8.2918 20.0003 10.771 18.4329 11.9098L17.5348 12.5623C16.8339 13.0716 16.5405 13.9743 16.8083 14.7984L17.1513 15.8541C17.75 17.6967 15.6411 19.229 14.0736 18.0902L13.1756 17.4377C12.4746 16.9284 11.5254 16.9284 10.8244 17.4377L9.92638 18.0902C8.35895 19.229 6.24999 17.6967 6.84869 15.8541L7.19172 14.7984C7.45947 13.9743 7.16615 13.0716 6.46517 12.5623L5.56712 11.9098C3.99969 10.771 4.80524 8.2918 6.74269 8.2918H7.85275C8.7192 8.2918 9.48711 7.73387 9.75486 6.90983L10.0979 5.8541Z' fill='%23FFB800'/%3E%3Cpath d='M27.0979 5.8541C27.6966 4.01148 30.3034 4.01148 30.9021 5.8541L31.2451 6.90983C31.5129 7.73387 32.2808 8.2918 33.1473 8.2918H34.2573C36.1948 8.2918 37.0003 10.771 35.4329 11.9098L34.5348 12.5623C33.8339 13.0716 33.5405 13.9743 33.8083 14.7984L34.1513 15.8541C34.75 17.6967 32.6411 19.229 31.0736 18.0902L30.1756 17.4377C29.4746 16.9284 28.5254 16.9284 27.8244 17.4377L26.9264 18.0902C25.3589 19.229 23.25 17.6967 23.8487 15.8541L24.1917 14.7984C24.4595 13.9743 24.1661 13.0716 23.4652 12.5623L22.5671 11.9098C20.9997 10.771 21.8052 8.2918 23.7427 8.2918H24.8527C25.7192 8.2918 26.4871 7.73387 26.7549 6.90983L27.0979 5.8541Z' fill='%23FFB800'/%3E%3Cpath d='M44.0979 5.8541C44.6966 4.01148 47.3034 4.01148 47.9021 5.8541L48.2451 6.90983C48.5129 7.73387 49.2808 8.2918 50.1473 8.2918H51.2573C53.1948 8.2918 54.0003 10.771 52.4329 11.9098L51.5348 12.5623C50.8339 13.0716 50.5405 13.9743 50.8083 14.7984L51.1513 15.8541C51.75 17.6967 49.6411 19.229 48.0736 18.0902L47.1756 17.4377C46.4746 16.9284 45.5254 16.9284 44.8244 17.4377L43.9264 18.0902C42.3589 19.229 40.25 17.6967 40.8487 15.8541L41.1917 14.7984C41.4595 13.9743 41.1661 13.0716 40.4652 12.5623L39.5671 11.9098C37.9997 10.771 38.8052 8.2918 40.7427 8.2918H41.8527C42.7192 8.2918 43.4871 7.73387 43.7549 6.90983L44.0979 5.8541Z' fill='%23FFB800'/%3E%3Cpath d='M61.0979 5.8541C61.6966 4.01148 64.3034 4.01148 64.9021 5.8541L65.2451 6.90983C65.5129 7.73387 66.2808 8.2918 67.1473 8.2918H68.2573C70.1948 8.2918 71.0003 10.771 69.4329 11.9098L68.5348 12.5623C67.8339 13.0716 67.5405 13.9743 67.8083 14.7984L68.1513 15.8541C68.75 17.6967 66.6411 19.229 65.0736 18.0902L64.1756 17.4377C63.4746 16.9284 62.5254 16.9284 61.8244 17.4377L60.9264 18.0902C59.3589 19.229 57.25 17.6967 57.8487 15.8541L58.1917 14.7984C58.4595 13.9743 58.1661 13.0716 57.4652 12.5623L56.5671 11.9098C54.9997 10.771 55.8052 8.2918 57.7427 8.2918H58.8527C59.7192 8.2918 60.4871 7.73387 60.7549 6.90983L61.0979 5.8541Z' fill='%23FFB800'/%3E%3Cpath d='M78.0979 5.8541C78.6966 4.01148 81.3034 4.01148 81.9021 5.8541L82.2451 6.90983C82.5129 7.73387 83.2808 8.2918 84.1473 8.2918H85.2573C87.1948 8.2918 88.0003 10.771 86.4329 11.9098L85.5348 12.5623C84.8339 13.0716 84.5405 13.9743 84.8083 14.7984L85.1513 15.8541C85.75 17.6967 83.6411 19.229 82.0736 18.0902L81.1756 17.4377C80.4746 16.9284 79.5254 16.9284 78.8244 17.4377L77.9264 18.0902C76.3589 19.229 74.25 17.6967 74.8487 15.8541L75.1917 14.7984C75.4595 13.9743 75.1661 13.0716 74.4652 12.5623L73.5671 11.9098C71.9997 10.771 72.8052 8.2918 74.7427 8.2918H75.8527C76.7192 8.2918 77.4871 7.73387 77.7549 6.90983L78.0979 5.8541Z' fill='%23FFB800'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        align-self: stretch;
      }
    }
  }
}
