.set-detail {
  padding: 1rem 0;

  &__title {
    margin: 2rem auto;
    text-align: center;

    @include media-breakpoint-up(lg) {
      margin: 0 auto 2rem;
      text-align: left;
    }

    span {
      display: block;
    }
  }

  &__main {
    position: relative;
    margin: 2.5rem 0;

    @include media-breakpoint-up(lg) {
      padding-left: calc(60% + 3rem);
      min-height: 28.125rem;
    }
  }

  &__images {
    .product-image img {
      object-fit: contain;
      height: 18.28rem;
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      left: 0;
      top: 0;
      width: 60%;

      .product-image img {
        height: 28.125rem;
      }
    }
  }

  &__images-wrap {
    position: relative;

    @include media-breakpoint-up(lg) {
      padding-left: 8.875rem;
    }
  }

  &__big-image {
    border: solid 2px $gray-200;
    border-radius: $border-radius-lg;
    overflow: hidden;

    .swiper-slide {
      picture {
        border-radius: 0;
        border: none;
      }
    }

    .swiper-slide-zoomed {
      background-color: rgba(250, 250, 250, 1);
    }
  }

  &__thumbs {
    user-select: none;
    padding: 0 2rem;

    @include media-breakpoint-down(lg) {
      margin: 1rem 0;

      .swiper-button-prev,
      .swiper-button-next {
        width: 2rem;
        height: 100%;
        margin-top: 0;
        top: 0;
        background-color: $white;
      }

      .swiper-button-prev {
        left: 0;
        justify-content: start;
      }

      .swiper-button-next {
        justify-content: end;
        right: 0;
      }
    }

    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 7.5rem;
      height: 100%;
      left: 0;
      top: 0;
      padding: 2rem 0;

      .swiper-button-prev,
      .swiper-button-next {
        height: 8rem;
        width: 2rem;
        background-color: $white;
      }

      .swiper-button-prev {
        top: -3rem;
        justify-content: start;
      }

      .swiper-button-next {
        bottom: -2rem;
        justify-content: end;
      }
    }

    .thumbnail {
      display: flex;
      align-items: center;
      overflow: hidden;

      img {
        min-height: 6.42rem;
        object-fit: contain;
        border-radius: $border-radius-lg;
        border: solid 2px $gray-200;
      }

      @include media-breakpoint-up(lg) {
        img {
          min-height: 7.5rem;
        }
      }
    }

    .swiper-slide-thumb-active {
      .thumbnail img {
        border-color: rgba($gray-900, 0.5);
      }
    }
  }

  &__info {
    margin: 2.5rem 0;

    .product-cta {
      margin: 2.5rem 0;

      .btn {
        min-width: 13.75rem;
      }
    }

    @include media-breakpoint-down(lg) {
      text-align: center;

      .product-cta {
        margin: 2rem 0;
      }
    }
  }

  &__details {
    .product-name {
      margin-bottom: 1.5rem;
    }

    @include media-breakpoint-up(lg) {
      padding-top: 2rem;
    }
  }

  ~ .section {
    padding-top: 0;
  }
}
