{% extends "src/views/layouts/default.html" %}

{% set title="Reset My Password" %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!-- Page Content -->
<div class="login-register login-register--password">
  <div class="login-register__wrap container">
    <h1 class="login-register__title">Reset Your Password</h1>
    <div class="login-register__content row justify-content-center">
      <div class="col-12 col-lg-4">
        <form action="" method="post" class="needs-validation" novalidate>
          <div class="form-floating mb-4">
            <input type="email" class="form-control" id="loginEmail" placeholder="E-mail address" aria-describedby="loginEmailHelp" required>
            <label for="loginEmail">E-mail address</label>
            <div class="invalid-feedback" id="loginEmailHelp">Please enter a valid e-mail</div>
          </div>
          <div class="login-register__submit">
            <button type="submit" class="btn btn-primary">Reset Password</button>
          </div>
          <div class="divider">
          <span>Or</span>
          </div>
          <p class="login-register__alternate">
            Go back to <a href="login.html" class="btn btn-link">Sign in</a>
          </p>
        </form>
        <!-- <div class="form-success">
          <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
          <div class="alert alert-info" role="alert">
            If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder. 
          </div>
          <p class="login-register__alternate">
            Go back to <a href="login.html" class="btn btn-link">Sign in</a>
          </p>
        </div> -->
      </div>
    </div>
  </div>
</div>
<!-- Newsletter -->
{% include "src/views/partials/newsletter.html" %}

<!-- END - Page Content -->
{% endblock %}