{% extends "src/views/layouts/default.html" %}

{% set title="What is EarlyLearny?" %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!-- Content Page -->

<section class="section section-page-what">
  <div class="section__wrap">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">What is EarlyLearny?</li>
        </ol>
      </nav>

      <h1 class="section__title">What is EarlyLearny?</h1>
    </div>

    <div class="section__content section-page-what__lead">
      <div class="section-page-what__lead-content">
        <p class="lead">EarlyLearny is a monthly educational program and set of materials designed to support the holistic development of babies and toddlers, aged 9 to 36 months.</p>
        <p>It offers a structured curriculum that includes age-appropriate activities, games, and resources to promote cognitive, speech and language, physical, social, and emotional development in children during their early years.</p>
        <p>EarlyLearny sets are created by a team of experts and delivered to subscribers on a monthly basis, making it a valuable resource for parents, caregivers, and educators who want to provide a fun and educational learning experience for young children.</p>
      </div>
      <div class="section-page-what__lead-banner">
        <img src="@images/what-is-earlylearny.jpg" width="598" height="356" alt="what is earlylearny" class="img-fluid">
      </div>

      <!--
      <div class="section-page-what__lead-video">
        <div class="video-wrap">

          <script src="https://fast.wistia.com/embed/medias/nfj3w25lya.jsonp" async></script>
          <script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
          <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;">
            <div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;">
              <div class="wistia_embed wistia_async_nfj3w25lya seo=true videoFoam=true"
                style="height:100%;position:relative;width:100%">
                <div class="wistia_swatch"
                  style="height:100%;left:0;opacity:0;overflow:hidden;position:absolute;top:0;transition:opacity 200ms;width:100%;">
                  <img src="https://fast.wistia.com/embed/medias/nfj3w25lya/swatch"
                    style="filter:blur(5px);height:100%;object-fit:contain;width:100%;" alt="" aria-hidden="true"
                    onload="this.parentNode.style.opacity=1;" /></div>
              </div>
            </div>
          </div>

        </div>
      </div>
      -->
    </div>

    <div class="section__content section-page-what__provide">
      <div class="container">
        <div class="row">
          <div class="col-12 col-lg-6 d-flex align-items-center">
            <div>
              <h2>What does each set provide?</h2>
              <p>Every EarlyLearny set includes :</p>
              <ul>
                <li>An engaging interactive monthly book filled with activities for you and your child to enjoy together,</li>
                <li>A convenient tracking table to monitor your child's progress,</li>
                <li>All the necessary tools to complete the activities, and your child to play separately,</li>
                <li>A special reading book designed for your child's age and development.(Please note: Story books are included for ages 9-24 months only.)</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-6">
            <div class="swiper js-swiper">
              <div class="swiper-wrapper">
                  <div class="swiper-slide">
                          <picture>
                              <img src="@images/el-mo-11.png" alt="Home Sweet Home" width="1024" height="576">
                          </picture>
                  </div>
                  <div class="swiper-slide">
                          <picture>
                              <img src="@images/el-mo-12.png" alt="Its my birthday" width="1024" height="576">
                          </picture>
                  </div>
                  <div class="swiper-slide">
                          <picture>
                              <img src="@images/el-mo-16.png" alt="Exploring the kitchen" width="1024" height="576">
                          </picture>
                  </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <hr class="divider" />

    <div class="section__content section-page-what__benefits">
      <div class="container">
        <h3>Benefits</h3>
        <div class="row gx-lg-5">
          <div class="col-12 col-lg-6">
            <h4>Holistic Development:</h4>
            <p>Promote the development of intelligence, cognition, speech and language, physical skills, and social and emotional interaction in young children.</p>
            <h4>Scientific Foundation:</h4>
            <p>Grounded in knowledge, science, and various educational methods, incorporating the latest research.</p>
            <h4>Engaging Content:</h4>
            <p>Features beloved characters and specially designed illustrations to make learning fun and engaging for children.</p>
            <h4>Playful Learning:</h4>
            <p>Emphasizes learning through play, a highly effective and enjoyable way for children to acquire skills and knowledge.</p>
          </div>
          <div class="col-12 col-lg-6">
            <h4>Parental Guidance:</h4>
            <p>Provides clear activity descriptions, benefits, and practical usage instructions for parents, empowering them to support their child’s development.</p>
            <h4>Unique Approach:</h4>
            <p>Stands out as a unique and effective tool for child development over 15 years of experience.</p>
            <h4>Long-Term Impact:</h4>
            <p>Aids in building smart, successful, and happy children, strengthening family bonds, and preparing children for school and new environments.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light bg-gradient py-3">
      <div class="section__cta">
        <p class="section__cta-text">Let's get started!</p>
        <a href="checkoutstep1child.html" class="btn btn-primary section__cta-btn">Subscribe Now</a>
      </div>
    </div>
    <div class="section__full-banner">
      <img src="@images/what-is-earlylearny-full.jpg" alt="What is EarlyLearny?" width="1440" height="480">
    </div>
  </div>
</section>

<!-- Newsletter -->
{% include "src/views/partials/newsletter.html" %}

<!-- END - Content Page -->
{% endblock %}