<div class="col-12 col-lg-4 account-menu js-account-menu">
    <h3 class="account-menu__title">My Account</h3>
    <div class="account-menu__wrap">
      <div class="account-menu__header">
        <span>Hello Jane</span>
        <a href="/logout">Logout</a>
      </div>
      <nav class="account-menu__nav js-account-nav">
        <a href="accountdetails.html" class="active" data-target="#accountDetails"><span>Account Details</span></a>
        <a href="accountsubscriptions.html" data-target="#accountSubscriptions"><span>Subscriptions</span></a>
        <a href="accountshipments.html" data-target="#accountShipments"><span>Shipments</span></a>
        <a href="accountpayments.html" data-target="#accountPaymentMethods"><span>Payment Methods</span></a>
        <a href="/admin"><span>Admin</span></a>
      </nav>
    </div>
  </div>