<div class="footer">
  <div class="container footer__inner-wrap">
    <div class="row">
      <div class="footer__links col-12 col-lg-4">
        <a href="privacy-policy.html">Privacy Policy</a>
        <a href="terms-and-conditions.html">Terms &amp; Conditions</a>
      </div>
      <div class="col-12 col-lg-4 footer__payment-logos">
        <img class="image" width="75" height="24" src="@images/payment-logos/visa.svg" alt="Visa">
        <img class="image" width="39" height="24" src="@images/payment-logos/mastercard.svg" alt="Mastercard">
        <img class="image" width="21" height="24" src="@images/payment-logos/paypal.svg" alt="Paypal">
        <img class="image" width="50" height="50" src="@images/payment-logos/ssl.png" alt="SSL">
      </div>
      <div class="col-12 col-lg-4 footer__copyright"><a href="https://earlylearny.com">EarlyLearny.com</a> All rights reserved. &copy; 2023</div>
    </div>
  </div>
</div>