<div class="header">
  <div class="header__top">
    <div class="header__top-wrap container">
      <div>Fostering Early Intelligence</div>
      <div>Secured by SSL <img class="image" width="24" height="24" src="@images/payment-logos/ssl.png" alt="SSL"></div>
    </div>
  </div>
  <div class="container header__inner-wrap">
    <div class="header__title">Subscribe</div>
    <a class="logo" href="index.html"><img class="logo__img" src="@images/logo.svg" alt="logo"></a>
    <div class="checkout-progress">
      <div id="checkoutProgressStep1" class="checkout-progress__step completed">
        <a href="#" class="checkout-progress__step-number" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-container="#checkoutProgressStep1" data-bs-title="<p><span><strong>Raul</strong></span>10.01.2023</p><p><span><strong>Fiona</strong></span>10.01.2023</p>"><span>1</span></a>
      </div>
      <div id="checkoutProgressStep2" class="checkout-progress__step active">
        <a href="#" class="checkout-progress__step-number" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-container="#checkoutProgressStep2" data-bs-title="<strong>Quarterly</strong> Subscription"><span>2</span></a>
      </div>
      <div id="checkoutProgressStep3" class="checkout-progress__step">
        <a href="#" class="checkout-progress__step-number"  data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-html="true" data-bs-container="#checkoutProgressStep3" data-bs-title="<strong>Deliver to:</strong> London, UK"><span>3</span></a>
      </div>
      <div id="checkoutProgressStep4" class="checkout-progress__step">
        <a href="#" class="checkout-progress__step-number"><span>4</span></a>
      </div>
    </div>
  </div>
</div>


