<div class="modal" id="cookieModal" tabindex="-1" aria-labelledby="cookieModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="cookieModalLabel">Cookies</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod delectus excepturi alias. Iusto expedita dolor quaerat fugit repudiandae eius hic eos laborum accusantium atque rem non, assumenda, nemo voluptatum quae.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-sm btn-link" data-bs-dismiss="modal">Decline</button>
            <button type="button" class="btn btn-sm btn-primary">Accept</button>
        </div>
      </div>
    </div>
</div>