<div class="footer">
  <div class="container">
    <div class="footer__links">
      <div class="row">
        <div class="col footer__link-group">
          <h4 class="footer__title">EarlyLearny</h4>
          <a href="whatisearlylearny.html">What is EarlyLearny?</a>
          <a href="howitworks.html">How does it work?</a>
          <a href="sets.html">Sets</a>
          <a href="about.html">About</a>
          <!--Hide after login-->
          <a href="register.html">Register</a>
          <a href="login.html">Login</a>
          <!--Show after login-->
          <!--
            <a href="#">My Account</a>
          -->
          <a href="checkoutstep1child.html">Subscribe</a>
        </div>
        <div class="col footer__link-group">
          <h4 class="footer__title">Help</h4>
          <a href="faq.html">FAQ</a>
          <a href="contact.html">Contact</a>
          <a href="privacypolicy.html">Privacy Policy</a>
          <a href="cookiepolicy.html">Cookie Policy</a>
          <a href="termsandconditions.html">Terms &amp; Conditions</a>
        </div>
        <div class="col-12 col-lg-4 footer__social-media">
          <h4 class="footer__title">Social Media</h4>
          <div class="footer__icons-wrap">
            <a title="EarlyLearny on Instagram" href="https://www.instagram.com/early_learny/" target="_blank" rel="nofollow"><span class="icon icon-instagram" aria-hidden="true"></span></a>
            <a title="EarlyLearny on Facebook" href="https://www.facebook.com/earlylearny" target="_blank" rel="nofollow"><span class="icon icon-facebook" aria-hidden="true"></span></a>
            <a title="EarlyLearny on Youtube" href="https://www.youtube.com/channel/UCb6eapwuL8nn8rQE82ebicw" target="_blank" rel="nofollow"><span class="icon icon-youtube" aria-hidden="true"></span></a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="footer__copyright"><a href="https://earlylearny.com">EarlyLearny.com</a> All rights reserved. &copy; 2023</p>
      <div class="footer__payment-logos">
        <img class="image" width="75" height="24" src="@images/payment-logos/visa.svg" alt="Visa">
        <img class="image" width="39" height="24" src="@images/payment-logos/mastercard.svg" alt="Mastercard">
        <img class="image" width="21" height="24" src="@images/payment-logos/paypal.svg" alt="Paypal">
        <img class="image" width="50" height="50" src="@images/payment-logos/ssl.png" alt="SSL">
      </div>
    </div>
  </div>
</div>