<div class="header">
  <div class="header__promo">
    <p>Free Shipping in UK &amp; EU</p>
  </div>
  <div class="header__slogan">
    <p>Fostering Early Intelligence</p>
  </div>
  <div class="container header__inner-wrap">
    <button class="header__navigation-btn js-header-navigation-btn" type="button"></button>
    <a class="logo" href="index.html"><img class="logo__img" src="@images/logo.svg" alt="logo"></a>
    <a class="header__subscribe header__subscribe--mobile" href="/checkout">Subscribe</a>
    <div class="header__navigation-wrap">
      <nav class="navigation">
        <a class="navigation__link" href="what-is-earlylearny.html">What is EarlyLearny?</a>
        <a class="navigation__link" href="how-it-works.html">How does it work?</span></a>
        <a class="navigation__link" href="sets.html">Sets</a>
        <span class="navigation__space"></span>
        <a class="navigation__link" href="faq.html">FAQ</a>
        <a class="navigation__link" href="contact.html">Contact</a>
        <span class="navigation__divider"></span>
        <!--Hide after login-->
          <a class="navigation__link" href="login.html">Sign in</a>
          <a class="navigation__link d-xl-none" href="register.html">Sign up</a>
        <!--Show after login-->
        <!--
        <span class="navigation__greeting">Hello Jane</span>
        <a class="navigation__link" href="account.html">Account Details</a>
        <a class="navigation__link" href="subscriptions.html">Subscriptions</a>
        <a class="navigation__link" href="shipments.html">Shipments</a>
        <a class="navigation__link" href="payments.html">Payment Methods</a>
        <a class="navigation__link" href="#">Admin</a>
        <a class="navigation__link" href="#">Log out</a>
        -->
      </nav>
    </div>
    <!--Hide After login-->
    <a class="btn btn-primary header__subscribe" href="/checkout">Subscribe</a>
    <!--Show After login-->
    <!--
    <div class="header__account-menu dropdown">
      <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="accountMenuLink" data-bs-toggle="dropdown">
        My Account
      </a>
      <ul class="dropdown-menu" aria-labelledby="accountMenuLink">
        <li><a class="dropdown-item" href="account.html">Account Details</a></li>
        <li><a class="dropdown-item" href="subscriptions.html">Subscriptions</a></li>
        <li><a class="dropdown-item" href="shipments.html">Shipments</a></li>
        <li><a class="dropdown-item" href="payments.html">Payment Methods</a></li>
        <li><a class="dropdown-item" href="#">Admin</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Log out</a></li>
      </ul>
    </div>
    -->
  </div>
</div>


