{% extends "src/views/layouts/email.html" %}

{% set title="EarlyLearny" %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!--Banner-->
<!-- <div style="padding-bottom: 20px; max-width: 600px; margin: 0 auto;">
  <img src="https://picsum.photos/600/200" width="600" height="200" alt="alt text" style="width: 100% !important; height: auto !important; object-fit: cover; border-radius: 12px; border: none;">
</div> -->
<!--Main Content Block-->
<div style="box-sizing:border-box; background-color: #ffffff; max-width: 600px; border:2px solid #dddddd; text-align: center; border-radius: 12px;">
  <div style="padding: 30px;">
    <div style="font-size: 32px; font-weight: bold; color: #f47920; padding: 10px 0 20px;">Welcome to EarlyLeary</div>
    <div style="font-size: 16px; padding: 0;">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate illum magni at veritatis facilis quos nulla quas mollitia? Nisi, quia fugiat laboriosam in natus ullam eius molestiae <a href="https://earlylearny.co.uk/accounts/register/" style="color: #111111; text-decoration:underline;">commodi accusamus.</a></p>
      <br>
      <div style="border-top:2px solid #ddd; height:1px; line-height:1px;"></div>
      <br>
      <div style="font-size: 24px; font-weight: bold; color: #111111; padding:10px 0; text-align: left;">Lorem ipsum dolor</div>
      <p style="margin-top:0; text-align: left;">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate illum magni at veritatis facilis quos nulla quas mollitia? Nisi, quia fugiat laboriosam in natus ullam eius molestiae commodi accusamus.</p>
      <table border="0" width="100%" style="text-align: left; border-collapse: collapse; border-spacing: 0;">
        <tbody>
          <tr height="30">
            <td style="width: 100px; color: #777777;">Child Name:</td>
            <td>Raul</td>
          </tr>
          <tr height="30">
            <td style="color: #777777;">Birthdate:</td>
            <td>01.01.2022</td>
          </tr>
        </tbody>
      </table>
      <br>
      <p>
        <a href="" style="display:inline-block; background-color: #f47920; padding: 15px 30px; border-radius: 12px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #ffffff; font-size: 14px;">Subscribe</a>
      </p>
    </div>
  </div>
</div>
<!--More content samples-->
<!-- <br>
<div style="box-sizing:border-box; background-color: #ffffff; max-width: 600px; border:2px solid #dddddd; text-align: center; border-radius: 12px; padding: 30px;">
  <div style="font-size: 20px; font-weight: bold; color: #19B3C6;">Welcome to EarlyLeary</div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione cupiditate illum magni at veritatis facilis quos nulla quas mollitia? Nisi, quia fugiat laboriosam in natus ullam eius molestiae commodi accusamus.</p>
  <div style="border-top:2px solid #ddd; height:1px; line-height:1px;"></div>
  <ul style="text-align: left; padding-left:16px;">
    <li>List item</li>
    <li>List item
      <ul style="text-align: left; padding-left:16px;">
        <li>List item</li>
      </ul>
    </li>
    <li>List item</li>
    <li>List item</li>
  </ul>
  <p style="text-align: left;">
    <img src="https://picsum.photos/100/100" width="100" height="100" alt="alt text" style="float: left; margin-right: 20px; border: none;"><span style="font-weight: bold;">Lorem, ipsum dolor</span><br> sit amet consectetur adipisicing elit. Natus ipsum libero sed et vel ex labore hic necessitatibus! Nam deserunt dolorem laborum quasi? Provident inventore voluptas, aliquam repellat illum quae?
  </p>
  <p style="text-align: right;">
    <img src="https://picsum.photos/100/100" width="100" height="100" alt="alt text" style="float: right; margin-left: 20px; border: none;"><span style="font-weight: bold;">Lorem, ipsum dolor</span><br> sit amet consectetur adipisicing elit. Natus ipsum libero sed et vel ex labore hic necessitatibus! Nam deserunt dolorem laborum quasi? Provident inventore voluptas, aliquam repellat illum quae?
  </p>
  <div style="border-top:2px solid #ddd; height:1px; line-height:1px;"></div>
  <p>
    <a href="" style="display:inline-block; background-color: #19B3C6; padding: 15px 30px; border-radius: 12px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #ffffff; font-size: 14px;">My Account</a>
  </p>
  
  <p>
    <a href="" style="display:inline-block; background-color: #eeeeee; padding: 10px 20px; border-radius: 8px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #111111; font-size: 14px;">My Account</a>&nbsp;&nbsp;
    <a href="" style="display:inline-block; background-color: #eeeeee; padding: 10px 20px; border-radius: 8px; font-weight: bold; text-transform: uppercase; text-decoration: none; color: #111111; font-size: 14px;">My Account</a>
  </p>
</div> -->
{% endblock %}