{% extends "src/views/layouts/default.html" %}

{% set title="Sign up" %}

{% block styles %}
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
<!-- Page Content -->

<div class="login-register">
  <div class="login-register__wrap container">
    <div class="alert-container">
      <!-- <div class="alert alert-danger" role="alert">Soluta delectus <a href="#" class="alert-link">commodi</a> iure?</div> -->
      <!-- <div class="alert alert-light alert-dismissible fade show" role="alert" >Soluta delectus commodi iure?<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div> -->
    </div>
      <h1 class="login-register__title">Sign up</h1>
      <p class="login-register__lead">Seems like you are new to EarlyLearny. Create an account.</p>
      <div class="login-register__content row justify-content-center">
        <div class="col-12 col-lg-4">
          <form action="registersuccess.html" method="post" class="needs-validation" novalidate>
            <div class="form-floating mb-4">
              <select class="form-select" id="registerTitle" aria-label="Title">
                <option value="1">Ms</option>
                <option value="2">Mr</option>
              </select>
              <label for="registerTitle">Title</label>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control" id="registerName" placeholder="First Name" aria-describedby="registerNameHelp" required>
              <label for="registerName">First Name</label>
              <div class="invalid-feedback" id="registerNameHelp">Please enter your first name</div>
            </div>
            <div class="form-floating mb-4">
              <input type="text" class="form-control" id="registerSurname" placeholder="First Name" aria-describedby="registerSurnameHelp" required>
              <label for="registerSurname">Surname</label>
              <div class="invalid-feedback" id="registerSurnameHelp">Please enter your surname</div>
            </div>
            <div class="form-floating mb-4">
              <input type="email" class="form-control" id="loginEmail" placeholder="E-mail address" aria-describedby="loginEmailHelp" required>
              <label for="loginEmail">E-mail address</label>
              <div class="invalid-feedback" id="loginEmailHelp">Please enter a valid e-mail</div>
            </div>
            <div class="form-floating mb-4">
              <input type="password" class="form-control" id="loginPassword" placeholder="Password" aria-describedby="loginPasswordHelp" required>
              <label for="loginPassword">Password</label>
              <div class="invalid-feedback" id="loginPasswordHelp">Please enter a password</div>
            </div>
            <div class="form-check mb-4">
              <input class="form-check-input" type="checkbox" value="" id="registerEmailApprove">
              <label class="form-check-label" for="registerEmailApprove">
                I agree receiving e-mails about my subscription and child's developmental stages.
              </label>
            </div>
            <div class="form-check mb-4">
              <input class="form-check-input" type="checkbox" value="" id="registerDataApprove" required>
              <label class="form-check-label" for="registerDataApprove">
                I have read and accept <a href="#">data protection policy.</a>
              </label>
              <div class="invalid-feedback" id="registerDataApproveHelp">Please check to continue</div>
            </div>
            <div class="login-register__submit">
              <p>I accept the <a href="#">Terms of Use</a> by clicking the sign up.</p>
              <button type="submit" class="btn btn-primary">Sign up</button>
            </div>
          </form>
          <div class="divider">
            <span>Or</span>
          </div>
          <p class="login-register__alternate">
            Already have an account? <a href="login.html" class="btn btn-link">Sign in</a>
          </p>
        </div>
      </div>
  </div>
</div>
<!-- Newsletter -->
{% include "src/views/partials/newsletter.html" %}

<!-- END - Page Content -->
{% endblock %}