{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Demo" %}

{% block styles %}
<!-- load specific page style -->
<link href="./demo.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./demo.js"></script>
{% endblock %}

{% block content %}
<div class="container">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>

  <p>Lorem <strong>dolor</strong> sit amet consectetur adipisicing elit. Quod voluptate, aliquid est cum laudantium illo culpa, modi illum odit odio sint vero necessitatibus id deserunt! Quasi doloremque corrupti quidem ea.</p>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod voluptate, aliquid est cum laudantium illo culpa, modi illum odit odio sint vero necessitatibus id deserunt! Quasi doloremque corrupti quidem ea.</p>

<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>

<div class="row">
  <div class="col">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem;">
      <img src="@images/logo.svg" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>

<div class="accordion accordion-flush" id="accordionFlushExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingOne">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the first item's accordion body.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="flush-headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
      <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
    </div>
  </div>
</div>

<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>

<form class="form-floating">
  <input type="email" class="form-control" id="floatingInputValue" placeholder="name@example.com" value="test@example.com">
  <label for="floatingInputValue">Input with value</label>
</form>


<div class="row g-2">
  <div class="col-md">
    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInputGrid" placeholder="name@example.com" value="mdo@example.com">
      <label for="floatingInputGrid">Email address</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
      <select class="form-select" id="floatingSelectGrid" aria-label="Floating label select example">
        <option selected>Open this select menu</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <label for="floatingSelectGrid">Works with selects</label>
    </div>
  </div>
</div>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>
  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Password</label>
    <input type="password" class="form-control" id="inputPassword4">
  </div>
  <div class="col-12">
    <label for="inputAddress" class="form-label">Address</label>
    <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
  </div>
  <div class="col-12">
    <label for="inputAddress2" class="form-label">Address 2</label>
    <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
  </div>
  <div class="col-md-6">
    <label for="inputCity" class="form-label">City</label>
    <input type="text" class="form-control" id="inputCity">
  </div>
  <div class="col-md-4">
    <label for="inputState" class="form-label">State</label>
    <select id="inputState" class="form-select">
      <option selected>Choose...</option>
      <option>...</option>
    </select>
  </div>
  <div class="col-md-2">
    <label for="inputZip" class="form-label">Zip</label>
    <input type="text" class="form-control" id="inputZip">
  </div>
  <div class="col-12">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Check me out
      </label>
    </div>
  </div>
  <div class="col-12">
    <button type="submit" class="btn btn-primary">Sign in</button>
  </div>
</form>

</div>




<section>
  <div class="container flex-column center-x">
    <h1>Demo</h1>
    <div class="teaser">
      This is demonstration how to load icons and inline SVG/PNG images in HTML.
    </div>
  </div>
</section>

<section>
  <div class="container flex-column center-x">{{ myVar }}</div>
</section>

<section>
  <div class="container flex-column center-x">
    <h2>Load image as file by size > 1K</h2>
    <div class="teaser">
      The image is loaded as file.
    </div>
    <!-- load as file: @images/dolphin.jpg -->
    <!-- <img class="image" src="@images/dolphin.jpg" alt="dolphin"> -->
  </div>
</section>

<section>
  <div class="container flex-column center-x">
    <h2>Inline image by size <= 1K</h2>
    <div class="teaser">
      The SVG image is inlined as SVG tag.
    </div>
    <!-- inline by size: @images/icons/webpack.svg-->
  </div>
</section>

<section>
  <div class="container flex-column center-x">
    <h2>Inline image using "?inline" query</h2>
    <div class="teaser">
      The PNG image is inlined as data-URL.
    </div>
    <!-- inline using query: @images/icons/webicon-mac.png?inline -->
    
  </div>
</section>

<section>
  <div class="container flex-column center-x">
    <h2>Icons</h2>
    <div class="teaser">
      Example of Material Symbols
    </div>

    <div class="icon-list">
      <div class="icon-item">
        <div class="mat-symbol">home</div>
        <div class="caption">home</div>
      </div>
      <div class="icon-item">
        <div class="mat-symbol">search</div>
        <div class="caption">search</div>
      </div>
      <div class="icon-item">
        <div class="mat-symbol">menu</div>
        <div class="caption">menu</div>
      </div>
      <div class="icon-item">
        <div class="mat-symbol">settings</div>
        <div class="caption">settings</div>
      </div>
      <div class="icon-item">
        <div class="mat-symbol">language</div>
        <div class="caption">language</div>
      </div>
    </div>

  </div>
</section>
{% endblock %}
