.footer {
    $parent: &;
    background-color: $gray-100;
    padding: 2rem 0;

    a {
        text-decoration: none;

        &:hover {
            color: $primary;;
        } 
    }

    &__title {
        @extend h5;
        text-transform: uppercase;
        margin-top: 2rem;
        margin-bottom: 2rem;
    }

    &__link-group {
        a {
            display: block;
            margin-bottom: .5rem;
        }
    }

    &__social-media {
        @include media-breakpoint-down(xl) {
            margin-bottom: 1rem;
        }

        #{$parent}__icons-wrap {
            display: flex;
            align-items: center;
            height: 1.5rem;
        }


        a {
            display: inline-flex;
        }

        .icon {
            font-size: 1.5rem;
            margin-right: 1rem;

            &-youtube {
                font-size: 2rem;
            }
        }
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding:2rem 0;
        border-top: 1px solid $gray-300;

        @include media-breakpoint-up(md) {
            flex-direction: row;
            justify-content: space-between;
        }

        p {
            margin-bottom: 1.25rem;

            @include media-breakpoint-up(md) {
                margin-bottom: 0;
            }
        }
        
    }

    &__payment-logos {
        img {
            margin: 0 .5rem;
        }

        @include media-breakpoint-up(xl) {
            img {
                margin: 0 0 0 1rem;
            }
        }
    }
}

$newsletter-form-invalid: #ffabab;

.newsletter {
    background-color: $purple;
    color: $white;
    position: relative;

    @include media-breakpoint-down(lg) {
        padding: 2.85rem 0;
    }

    &__headline {
        @include media-breakpoint-down(xl) {
            padding-bottom: 1.5rem;
        }
    }

    &__content {
        @include media-breakpoint-up(lg) {
            padding-top: 3rem;
            padding-bottom: 2rem;
        }
    }

    &__title {
        margin: 0;
        font-family: $font-family-base;
        font-weight: $font-weight-light;
        font-size: 3.5rem;
        text-transform: uppercase;
        color: rgba($black, .1);
        position: absolute;
        z-index: 1;
        letter-spacing: -.1rem;
        
        @include media-breakpoint-up(lg) {
            font-size: 5rem;
            transform: translateX(-.4rem);
            top: -1.1rem;
        }

        @include media-breakpoint-down(lg) {
            width: 100%;
            left: 0;
            top: -.7rem;
        }
    }

    &__text {
        @extend h3;
        position: relative;
        z-index: 2;
        margin: 0 auto;
        max-width: 80%;

        @include media-breakpoint-up(lg) {
            line-height: 1.5;
            padding-top: .5rem;
            max-width: 100%;
        }
    }

    &__form {
        position: relative;
        z-index: 2;

        .btn {
            padding-left: 0;
            padding-right: 0;

            @include media-breakpoint-up(lg) {
                margin-top: 2rem;
            }
        }

        label {
            &.form-check-label {
                a {
                    color: $white;

                    &:hover {
                        opacity: .8;
                    }
                }
            }
        }
        
        .was-validated .form-check-input:invalid ~ .form-check-label,
        .was-validated .form-check-input:invalid ~ .form-check-label a {
            color: $white;
        }

        .invalid-feedback {
            color: $newsletter-form-invalid;
        }

        .form-check .invalid-feedback {
            transform: translateX(-1.7rem);
        }
    }

    &__form-wrap {
        > div {
            margin-bottom: 1.5rem;

            @include media-breakpoint-up(lg) {
                margin-bottom: 1rem;

                &:last-child {
                    margin-bottom: 0;
                }
            }

            @include media-breakpoint-down(lg) {
                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &__title,
        &__text {
            text-align: center;
        }
    }
}