<!DOCTYPE html>
<html lang="en-GB" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>{{ title }}</title>
  
  <link href="@images/favicon.png" rel="icon" type="image/png">

  <link href="@styles/main.scss" rel="stylesheet">

  <script src="@scripts/common.js" defer="defer"></script>

</head>
<body>
  <div class="page">
    <!-- Header -->
    {% include "src/views/partials/header.html" %}

    <!-- Main content -->
    <main class="main">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "src/views/partials/footer.html" %}
    <!-- Cookie Modal -->
    {% include "src/views/partials/cookie.html" %}
    
  {% block scripts %}{% endblock %}
</body>
</html>
