<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  
  <!-- load source favicon via Webpack alias '@images' -->
  <link href="@images/favicon.png" rel="icon" type="image/png">

  <!-- load global source script via Webpack alias '@scripts' -->
  <script src="@scripts/common.js" defer="defer"></script>

  <!-- block for specific page styles -->
  {% block styles %}{% endblock %}
</head>
<body>
  <div class="page">
    <!-- Header -->
    {% include "src/views/partials/header.html" %}

    <!-- Main content -->
    <main class="main">
        <!-- block for specific page content -->
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    {% include "src/views/partials/footer.html" %}
    
  <!-- block for specific page scripts -->
  {% block scripts %}{% endblock %}
</body>
</html>
