<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{{ title }}</title>
  </head>
<body style="margin: 0; padding: 0; background-color: #ffffff; color: #111111; font-size: 16px; line-height: 1.25; font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;">
  <!-- <div style="padding: 20px; font-size: 14px;"><a href="https://earlylearny.co.uk/accounts/register/" style="color: #111111; text-decoration:none;">Unsubscribe</a></div> -->
  <table border="0" width="100%" style="border-spacing: 0;">
    <tbody>
      <tr>
        <td style="border-top: 2px solid #dddddd; padding: 20px;">
          <table border="0" width="100%" style="border-spacing: 0; font-size:14px;">
            <tbody>
              <tr>
                <td>Fostering Early Intelligence</td>
                <!-- <td>
                  <span style="font-weight: bold;">FREE SHIPPING TO UK &amp; EU</span>
                </td> -->
                <td style="text-align: right;">
                  <a href="https://earlylearny.co.uk/accounts/register/" style="color: #111111; text-decoration:none;">Sign up</a><span style="color:#aaaaaa;">&nbsp;&nbsp;|&nbsp;&nbsp;</span><a href="https://earlylearny.co.uk/accounts/login/" style="color: #111111; text-decoration:none;">Sign in</a>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr>
        <td>
          <div style="text-align:center; padding: 20px 0 30px;">
            <a href="https://earlylearny.co.uk" style="text-decoration: none;"><img src="@images/email/earlylearny-logo.png" width="120" height="84" alt="logo" style="margin: 0 auto; border: none;"></a>
          </div>
        </td>
      </tr>
      <tr>
        <td align="center">
            {% block content %}{% endblock %}
        </td>
      </tr>
      <tr>
        <td style="padding: 40px 0; text-align: center;">
          <div style="font-weight: bold; color: #111111;">Follow Us on Social Media</div>
          <div style="padding: 20px 0;">
            <a href="https://www.instagram.com/early_learny/" style="text-decoration: none;"><img src="@images/email/earlylearny-instagram.png" width="24" height="24" alt="EarlyLearny on Instagram" style="border: none;"></a>&nbsp;&nbsp;
            <a href="https://www.facebook.com/earlylearny" style="text-decoration: none;"><img src="@images/email/earlylearny-facebook.png" width="13" height="24" alt="EarlyLearny on Facebook" style="border: none;"></a>&nbsp;&nbsp;
            <a href="https://www.youtube.com/channel/UCb6eapwuL8nn8rQE82ebicw" style="text-decoration: none;"><img src="@images/email/earlylearny-youtube.png" width="35" height="24" alt="EarlyLearny on Youtube" style="border: none;"></a>
          </div>
          <p><a href="https://earlylearny.co.uk/" style="color: #111111; text-decoration:none;">EarlyLearny</a> &#8226; Fostering Early Intelligence</p>
          <p style="font-size:12px;">All rights reserved. &#169; 2023</p>
        </td>
      </tr>
    </tbody>
  </table>
  <div style="padding: 20px; font-size: 14px; text-align: center; color:#777777;">This e-mail sent to <span style="color:#111111;text-decoration:none;">asdsd@asdasdad.com</span>. If you don't want to get any information e-mail from EarlyLearny, you can update &quot;receiving e-mails&quot; setting as off in <a href="https://earlylearny.co.uk/profile/" style="color: #111111; text-decoration:underline;">your account details.</a></div>
  {% block scripts %}{% endblock %}
</body>
</html>
